/* .cform{
    display: flex;
    justify-content: center;
    

    background-color: rgb(201, 205, 205);
    border: 4px solid rgba(45, 10, 221, 0.508);
    padding: 30px;
    margin: 6%;
    
} */
/* .fb{

    margin: auto;
    margin-left: 50%;
    margin-right: 50%;
} */

/* .container{

    margin-top: 10px;
} */